@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Jost";
    src: url("assets/fonts/Jost-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Jost";
    src: url("assets/fonts/Jost-Bold.ttf");
    font-weight: bold;
}

body {
    max-width: 100vw;
    padding: 0;
    margin: 0; 
}
h2 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: bold;
    color: #2000E7;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    color: #2000E7;
    margin: 0;
    padding: 0;
}
p {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute;
  
    width: 1px;
    height: 1px;
    padding: 0;
  
    overflow: hidden;
  
    white-space: nowrap;
  
    border: 0;
  }

       /* Hero section */
.hero-section {
    margin: 0px 78px 200px 76px;
    max-width: 2560px;
}
       /* header style */
.hero-section header {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding-top: 45px;
}
.hero-section nav {
    width: 70%;
}
.hero-section nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    list-style-type: none;
}
.hero-section nav ul li a{
    font-family: Poppins;
    font-size: 30px;
    color: #686565;
    font-weight: 400;
    text-decoration: none;
}
.header-logo {
    color: #0E0578;
}

      /* main of hero section */

.hero-section main {
    margin-top: 150px;
    position: relative;
    top: 0;
    left: 0;
}
.main-text p {
    color: #383838;
}
.hero-section span {
    color: #F2BD00;
}
.main-img {
    position: absolute;
    left: 690px;
    top: 0;
}
.buttons {
    width: 575px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 246px;
    height: 72px;

    font: 400 24px Poppins, normal;

    border: 2px solid #2000E7;
    border-radius: 10px;
    background: rgba(32, 0, 231, 0.04);  
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.btn:active { 
    transform: scale(0.98); 
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.25); 
}
.purp-btn {
    background-color: #2000E7;
    color: white;
}
.w-btn {
    background: rgba(32, 0, 231, 0.04);
    color: #2000E7;
}

       /* second page */

#abme {
    position: relative;
    top: 0;
    left: 0;
    max-width: 2560px;
    padding-left: 46px;
    padding-bottom: 66px;
    background: rgba(67, 186, 253, 0.06);
}
.text-abme {
    padding-top: 200px;
}
.text-abme h2 {
    letter-spacing: 16.8px;
}
.button-2-abme {
    margin-left: 40px;
    margin-top: 50px;
}
.dude-items {
    position: absolute;
    float: right;
    top: 0;
    left: 475px;
}

        /* third section */

#prgc {
    margin-top: 300px;
    margin-bottom: 270px;
    background: rgba(255, 214, 150, 0.20);
    max-width: 2560px;
}
[class^=row] {
    display: flex;
    justify-content: space-around;
    margin-top: 66px;
}
.head-third-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}
.head-third-page h2 {
    letter-spacing: 9.6px;
    color: #3B1FEA;
}
.car-img {
    border-radius: 6px;
}

        /* form page */

#cont {
    background: rgba(67, 186, 253, 0.06);
    max-width: 2560px;
    margin-bottom: 208px;
}
.form-page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 67px;
}
.form-page-head h2 {
    letter-spacing: 17.28px;
    font-size: 64px;
    color: #220BE8;
}
#cont main {
    background-image: image-set();
}
#cont form {
    display: flex;
    flex-direction: column;

    margin: 160px 0 50px 66px;
    width: 550px;
}
#cont input,
textarea,
button {
    height: 94px;
    margin-top: 81px;
    color: #000;

    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;  
    padding-left: 40px;
    padding-right: 40px; 

    border: 0;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
}
#cont textarea {
    height: 265px;
    resize: none;
}
.contact-btn {
    align-self: center;
    cursor: pointer;
    width: 300px;
    background-color: white;
}
.contact-btn:active { 
    transform: scale(0.98); 
    box-shadow: 2px 4px 3px 1px rgba(0, 0, 0, 0.25); 
}
::placeholder {
    color: #000;
}
